<section class="flex-shrink w-full px-10 py-8">
  <div class="overflow-hidden prose md:prose-xl">
    <h1>{{page.title}}</h1>

    {% if page.objectives %}
      <p>
        <strong>Objectives:</strong>
      </p>
      <ul>
        {% for objective in page.objectives %}
          <li>{{objective}}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if page.est_time %}
      <p>
        <strong>Estimated Time:
        </strong>
        {{page.est_time}}
      </p>
    {% endif %}

    {% if page.dropbox %}
      <p>
        <strong>Dropbox:</strong>
        <a href="{{page.dropbox.url}}" target="_blank" rel="noopener noreferrer">{{page.dropbox.title}}</a>
      </p>
    {% endif %}
    {{content}}
  </div>
</section>
