<nav
  class="md:h-screen md:fixed md:overflow-scroll right-0 md:w-1/4 p-10 mb-8 bg-gradient-to-r from-green-500 to-green-600"
>
  <h1 class="uppercase font-bold text-2xl text-green-100 mb-2">
    {{site.title}}
  </h1>
  <h2 class="uppercase font-bold text-white text-xl md:text-4xl">
    {{page.unit}}
  </h2>
  {% assign current = site.units | where: 'unit', page.unit | sort: 'order'%}
  <ul class="overflow-scroll text-white mt-10">
    {% for item in current %}
    <li class="{% if item.url == page.url %} active {% endif %}">
      <a href="{{item.url}}">{{item.title}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
