<nav class="p-10 bg-gradient-to-r from-green-500 to-green-600">
  <h1 class="mb-2 text-2xl font-bold text-green-100 uppercase">
    {{site.title}}
  </h1>
  <h2 class="text-xl font-bold text-white uppercase md:text-4xl">
    {{page.unit}}
  </h2>
  {% assign current = site.units | where: 'unit', page.unit | where: 'in_sidebar', true | sort: 'order'%}
  <ul class="mt-10 overflow-scroll text-white">
    {% for item in current %}
      <li class="{% if item.url == page.url %} active {% endif %}">
        <a href="{{item.url}}">{{item.title}}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
